<link rel="stylesheet" href="/assets/css/header.css" />
<link rel="stylesheet" href="/assets/css/footer.css" />
<link rel="stylesheet" href="/assets/css/footer_01.css" />
<link rel="stylesheet" href="/assets/css/header.css" />
<link rel="stylesheet" href="/assets/css/realNav.css">
<nav
  class="navbar navbar-expand-lg navbar-light bg-light"
  style="
    box-shadow: #74c52b 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    position: sticky;
  "
>
  <a
    class="navbar-brand"
    href="/index"
    style="color: #74c52b; letter-spacing: 0.3em"
  >
    <img
      src="/assets/img/smallLogo.png"
      width="60"
      height="60"
      class="d-inline-block align-top img-fluid medi-match-icon"
      alt=""
      id="rotateIcon"
    />
    <span class="brand-title" style="margin-left: 4em; margin-right: 0em"> MEDI-MATCH </span>
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav" style="margin:auto">
      <li class="nav-item">
        <a class="nav-link" href="/index"
          >HOME <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/predict">MEDI-DETECT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/doctors">DOCTORS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/gallery">GALLERY</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">ABOUT US</a>
      </li>
    </ul>
    <div class="navbar-nav ml-auto" >
      <% if (! currentUser){ %>
      <a class="nav-link" href="/Register">REGISTER</a>
      <a class="nav-link" href="/login">LOG IN</a>
      <% } else { %>
      <a class="nav-link" href="/logout">LOG OUT</a>
      <% } %>
    </div>
  </div>
</nav>
<script>
  const icon = document.querySelector("#rotateIcon");
  window.addEventListener("scroll", function () {
    icon.style.transform = "rotate(" + window.pageYOffset + "deg)";
  });
</script>
<div class="container my-3"><%- include('../partials/flash') %></div>
