<%- include('partials/head')%>
<%- include('partials/navbar')%>

				<!-- Image title -->

        

				<div style="text-align: center; margin-top: 50px;">
          <h2>GALLERY</h2>
          </div>
          <!-- End title  -->
  
          <!--=== Cube-Portfdlio ===-->
          <div class="cube-portfolio container" style="  margin-top: 100px; margin-bottom: 60px;">
  
  
          <div id="grid-container" class="cbp-l-grid-agency">
  
          <!-- Image -->

          <div class="cbp-item graphic text-center" data-aos="fade-right">
          <div class="cbp-caption " style="margin-bottom: 20px;">
          <div class="cbp-caption-defaultWrap">
          <a href="assets/img/gallery/room1.jpg" class="cbp-lightbox" data-title="Rooms for patients"><img src="assets/img/gallery/room1.jpg" class="rounded float-start img-fluid" width="700px" height="25px" alt="" ></a>
          </div>
          </div>
          <div class="cbp-title-dark">
          <div class="cbp-l-grid-agency-title">Rooms for patients</div>
          </div>
          </div>
          <!-- end image-->
  
          <!-- Image -->

          <div class="cbp-item graphic text-center" data-aos="fade-right">
          <div class="cbp-caption " style="margin-bottom: 20px;">
          <div class="cbp-caption-defaultWrap">
          <a href="assets/img/gallery/cath_lab.jpg" class="cbp-lightbox" data-title="Cath-lab"><img src="assets/img/gallery/cath_lab.jpg" class="rounded float-start img-fluid" width="700px" height="25px" alt="" ></a>
          </div>
          </div>
          <div class="cbp-title-dark">
          <div class="cbp-l-grid-agency-title">Cath lab</div>
          </div>
          </div>
          <!-- end image-->
  
          <!-- Image -->

          <div class="cbp-item graphic text-center" data-aos="fade-right">
          <div class="cbp-caption " style="margin-bottom: 20px;">
          <div class="cbp-caption-defaultWrap text-center" >
          <a href="assets/img/gallery/imag1.jpg" class="cbp-lightbox" data-title="Medical-equipment"><img src="assets/img/gallery/imag1.jpg" class="rounded float-start img-fluid"  style="margin:auto; max-width:600px" alt="" ></a>
          </div>
          </div>
          <div class="cbp-title-dark">
          <div class="cbp-l-grid-agency-title">Medical equipment</div>
          </div>
          </div>
          <!-- end image-->
          <hr>
  
          <!-- Image -->

          <div class="cbp-item graphic text-center" data-aos="fade-right">
          <div class="cbp-caption " style="margin-bottom: 20px;">
          <div class="cbp-caption-defaultWrap">
          <a href="assets/img/gallery/imag2.jpg" class="cbp-lightbox" data-title="General-ward"><img src="assets/img/gallery/imag2.jpg" class="rounded float-start img-fluid" width="700px"  alt="" ></a>
          </div>
          </div>
          <div class="cbp-title-dark">
          <div class="cbp-l-grid-agency-title">General ward</div>
          </div>
          </div>
          <!-- end image-->
  
  
          <!-- Image -->

          <div class="cbp-item graphic text-center" data-aos="fade-right">
          <div class="cbp-caption " style="margin-bottom: 20px;">
          <div class="cbp-caption-defaultWrap">
          <a href="assets/img/gallery/imag3.jpg" class="cbp-lightbox" data-title="Hospital"><img src="assets/img/gallery/imag3.jpg" class="rounded float-start img-fluid" width="700px"  alt="" ></a>
          </div>
          </div>
          <div class="cbp-title-dark">
          <div class="cbp-l-grid-agency-title">Hospital</div>
          </div>
          </div>
          <!-- end image-->
  
          <!-- Image -->

          <div class="cbp-item graphic text-center" data-aos="fade-right">
          <div class="cbp-caption " style="margin-bottom: 20px;">
          <div class="cbp-caption-defaultWrap">
          <a href="assets/img/gallery/imag4.jpg" class="cbp-lightbox" data-title="Operation theatre"><img src="assets/img/gallery/imag4.jpg" class="rounded float-start img-fluid" width="700px" alt="" ></a>
          </div>
          </div>
          <div class="cbp-title-dark">
          <div class="cbp-l-grid-agency-title">Operation Theatre</div>
          </div>
          </div>
          <!-- end image-->
          
  
          <!-- Image -->

          <div class="cbp-item graphic text-center" data-aos="fade-right">
          <div class="cbp-caption " style="margin-bottom: 20px;">
          <div class="cbp-caption-defaultWrap">
          <a href="assets/img/gallery/imag6.jpg" class="cbp-lightbox" data-title="clinics"><img src="assets/img/gallery/imag6.jpg" class="rounded float-start img-fluid" width="700px"  alt="" ></a>
          </div>
          </div>
          <div class="cbp-title-dark">
          <div class="cbp-l-grid-agency-title">Clinics</div>
          </div>
          </div>
          <!-- end image-->
  
          <!-- Image -->

          <div class="cbp-item graphic text-center" data-aos="fade-right">
          <div class="cbp-caption " style="margin-bottom: 20px;">
          <div class="cbp-caption-defaultWrap">
          <a href="assets/img/gallery/imag7.jpg" class="cbp-lightbox" data-title="Corridor"><img src="assets/img/gallery/imag7.jpg" class="rounded float-start img-fluid" width="700px" alt="" ></a>
          </div>
          </div>
          <div class="cbp-title-dark">
          <div class="cbp-l-grid-agency-title">Corridor</div>
          </div>
          </div>
          <!-- end image-->

          <!-- Image -->

          <div class="cbp-item graphic text-center" data-aos="fade-right">
            <div class="cbp-caption " style="margin-bottom: 20px;">
            <div class="cbp-caption-defaultWrap">
            <a href="assets/img/gallery/icu.jpg" class="cbp-lightbox" data-title="Operation theatre"><img src="assets/img/gallery/icu.jpg" class="rounded float-start img-fluid" width="700px"  alt="" ></a>
            </div>
            </div>
            <div class="cbp-title-dark">
            <div class="cbp-l-grid-agency-title">ICU Room</div>
            </div>
            </div>
            <!-- end image-->
  
          </div><!--/end Grid Container-->
          </div>
          <!--=== End Cube-Portfdlio ===-->
        <hr>

<%- include('partials/footer')%>