<%- include('partials/head')%> <%- include('partials/navbar')%>
<script>
  AOS.init({
    duration: 1200,
  });
</script>

<!-- bootstrap corousel -->
<div class="container" data-aos="zoom-out">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="5000">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <a href="/predict">
          <img class="d-block w-100" src="assets/img/slider/medi-detect.png" alt="First slide">
        </a>
      </div>
      <div class="carousel-item">
      <a href="/doctors">
        <img class="d-block w-100" src="assets/img/slider/Book-appointment.png" alt="Second slide">
      </a>
      </div>
      <div class="carousel-item">
      <a href="/gallery">
        <img class="d-block w-100" src="assets/img/slider/gallery.png" alt="Third slide">
      </a>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<!--=== Welcome to MEDI-MATCH===-->
<div
  class="container content-md welcomeSection"
  style="background-color: white; width: 100%; margin-top: 5px"
  data-aos="fade-right"
>
  <div class="row section1" style="margin-left: 0">
    <div
      class="col-md-6"
      style="margin-bottom: 40px"
      style="border: 2px solid black; background: green"
    >
      <h2 class="title-v2">
        WELCOME TO <span style="color: #72c02c"> MEDI-MATCH </span>
      </h2>
      <p style="text-align: justify; font-size: 14px">
        Medi-Match hospitals are a top-tier hospital chain with state-of-the-art
        healthcare facilities. It has multiple departments namely General
        medicine, Orthopedics, cardiology, and neuroscience. The management
        provides best facilities at reasonable prices. It works to achieve the
        motto of"health is wealth". It has 5000 beds and 800 full-time staff to
        cater to the needs of the patients. We are the largest hospital chain in
        India. We are currently in 20 cities and in 4 countries.
      </p>
      <br />
      <a href="about.html" class="btn-u btn-brd btn-brd-hover">Read More</a>
    </div>
    <div class="col-md-6 overflow-h" data-aos="fade-left">
      <img
        style="border-radius: 50px; margin: 0 10px; height: 100%; width: 100%"
        src="assets/img/bg/1.jpg"
        alt=""
      />
    </div>
  </div>
</div>
<!--=== End About Us ===-->
<!-- Plans Start -->
<section class="pricingSection" data-aos="zoom-in">
  <div class="container" style="margin-top: 20px">
    <div class="headline-center">
      <h2>Health Packages</h2>
      <div class="row">
        <!-- Pricing Item -->
        <div class="col-md-3 col-xs-6 col-2xs-12" data-aos="zoom-in">
          <div style="border-radius: 10px" class="pricing-v9 hover-effect">
            <div class="pricing-v9-head">
              <h3 class="h3">
                <span class="g-color-default">MEDI-MATCH</span> Basic wellness
              </h3>
            </div>
            <ul style="list-style-type: none">
              <li>CBC</li>
              <li>Blood Group & RH</li>
              <li>Urine (Routine & Micro)</li>
              <li>&nbsp;</li>
              <li>&nbsp;</li>
            </ul>
            <div class="pricing-v9-price">
              For <span class="g-color-default">₹1500/-</span>
            </div>
          </div>
        </div>
        <!-- /Pricing Item -->
        <!-- Pricing Item -->
        <div class="col-md-3 col-xs-6 col-2xs-12" data-aos="zoom-in">
          <div style="border-radius: 10px" class="pricing-v9 hover-effect">
            <div class="pricing-v9-head">
              <h3 class="h3">
                <span class="g-color-default">MEDI-MATCH</span> Gold Wellness
              </h3>
            </div>
            <ul style="list-style-type: none">
              <li>CBC</li>
              <li>Blood Group & RH</li>
              <li>Urine (Routine & Micro)</li>
              <li>SGPT</li>
              <li>&nbsp;</li>
            </ul>
            <div class="pricing-v9-price">
              For <span class="g-color-default">₹3000/-</span>
            </div>
          </div>
        </div>
        <!-- /Pricing Item -->
        <!-- Pricing Item -->
        <div class="col-md-3 col-xs-6 col-2xs-12" data-aos="zoom-in">
          <div style="border-radius: 10px" class="pricing-v9 hover-effect">
            <div class="pricing-v9-head">
              <h3 class="h3">
                <span class="g-color-default">MEDI-MATCH</span> Happy Heart
              </h3>
            </div>
            <ul style="list-style-type: none">
              <li>Lipid Profile</li>
              <li>ECG</li>
              <li>Chest X-RAY</li>
              <li>FBS</li>
              <li>&nbsp;</li>
            </ul>
            <div class="pricing-v9-price">
              For <span class="g-color-default">₹4500/-</span>
            </div>
          </div>
        </div>
        <!-- /Pricing Item -->
        <!-- Pricing Item -->
        <div class="col-md-3 col-xs-6 col-2xs-12" data-aos="zoom-in">
          <div style="border-radius: 10px" class="pricing-v9 hover-effect">
            <div class="pricing-v9-head">
              <h3 class="h3">
                <span class="g-color-default">MEDI-MATCH</span> Platinum Wellness
              </h3>
            </div>
            <ul style="list-style-type: none">
              <li>Basic Wellness Plan</li>
              <li>Lung Function Tests</li>
              <li>USG Abdomen</li>
              <li>Thyroid All Tests</li>
              <li>Lung Efficiency Tests</li>
            </ul>
            <div class="pricing-v9-price">
              For <span class="g-color-default">₹8000/-</span>
            </div>
          </div>
        </div>
        <!-- /Pricing Item -->
      </div>
    </div>
  </div>
</section>
<!-- End PLANS -->
<hr />

<%- include('partials/footer')%>