<%- include('partials/head')%> <%- include('partials/navbar')%>
<script>
  AOS.init({
    duration: 1200,
  });
</script>

<!-- Slider -->

<div
  id="slide"
  style="display: inline-block; width: 100%; margin: 0 auto"
  data-aos="slide"
>
  <div class="slideshow-container">
    <div class="mySlides fade">
      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <img src="assets/img/slider/1.jpg" alt="Slider1" style="width: 100%" />
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <div class="mySlides fade">
      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <img src="assets/img/slider/2.jpg" alt="Slider2" style="width: 100%" />
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <div class="mySlides fade">
      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <img src="assets/img/slider/3.jpg" alt="Slider3" style="width: 100%" />
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
  </div>
  <br />
  <div style="text-align: center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
    <span class="dot" onclick="currentSlide(4)"></span>
  </div>
</div>

<script>
  var slideIndex = 0;
  showSlides();
  var slides, dots;

  function showSlides() {
    var i;
    slides = document.getElementsByClassName("mySlides");
    dots = document.getElementsByClassName("dot");
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    slideIndex++;
    if (slideIndex > slides.length) {
      slideIndex = 1;
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex - 1].style.display = "block";
    dots[slideIndex - 1].className += " active";
    setTimeout(showSlides, 8000); // Change image every 8 seconds
  }

  function plusSlides(position) {
    slideIndex += position;
    if (slideIndex > slides.length) {
      slideIndex = 1;
    } else if (slideIndex < 1) {
      slideIndex = slides.length;
    }
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex - 1].style.display = "block";
    dots[slideIndex - 1].className += " active";
  }

  function currentSlide(index) {
    if (index > slides.length) {
      index = 1;
    } else if (index < 1) {
      index = slides.length;
    }
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[index - 1].style.display = "block";
    dots[index - 1].className += " active";
  }
</script>

<!-- End of Slider -->

<!--=== Welcome to Unity===-->

      <h2 class="title-v2">
        WELCOME TO <span style="color: #72c02c"> MEDI-MATCH </span>
      </h2>
      <p style="text-align: justify; font-size: 14px">
        Medi-Match hospitals are a top-tier hospital chain with state-of-the-art
        healthcare facilities. It has multiple departments namely General
        medicine, Orthopedics, cardiology, and neuroscience. The management
        provides best facilities at reasonable prices. It works to achieve the
        motto of"health is wealth". It has 5000 beds and 800 full-time staff to
        cater to the needs of the patients. We are the largest hospital chain in
        India. We are currently in 20 cities and in 4 countries.
      </p>
      <br />
      <a href="about.html" class="btn-u btn-brd btn-brd-hover">Read More</a>
    </div>
    <div class="col-md-6 overflow-h" data-aos="fade-left">
      <img
        style="border-radius: 50px; margin: 0 10px; height: 100%; width: 100%"
        src="assets/img/bg/1.jpg"
        alt=""
      />
    </div>
  </div>
</div>
<!--=== End About Us ===-->
<!-- Plans Start -->
<section class="pricingSection" data-aos="zoom-in">
  <div class="container" style="margin-top: 20px">
    <div class="headline-center">
      <h2>Health Packages</h2>
      <div class="row">
        <!-- Pricing Item -->
        <div class="col-md-3 col-xs-6 col-2xs-12">
          <div style="border-radius: 10px" class="pricing-v9 hover-effect">
            <div class="pricing-v9-head">
              <h3 class="h3">
                <span class="g-color-default">UNITY</span> Basic wellness
              </h3>
            </div>
            <ul style="list-style-type: none">
              <li>CBC</li>
              <li>Blood Group & RH</li>
              <li>Urine (Routine & Micro)</li>
              <li>&nbsp;</li>
              <li>&nbsp;</li>
            </ul>
            <div class="pricing-v9-price">
              For <span class="g-color-default">₹1500/-</span>
            </div>
          </div>
        </div>
        <!-- /Pricing Item -->
        <!-- Pricing Item -->
        <div class="col-md-3 col-xs-6 col-2xs-12">
          <div style="border-radius: 10px" class="pricing-v9 hover-effect">
            <div class="pricing-v9-head">
              <h3 class="h3">
                <span class="g-color-default">UNITY</span> Gold Wellness
              </h3>
            </div>
            <ul style="list-style-type: none">
              <li>CBC</li>
              <li>Blood Group & RH</li>
              <li>Urine (Routine & Micro)</li>
              <li>SGPT</li>
              <li>&nbsp;</li>
            </ul>
            <div class="pricing-v9-price">
              For <span class="g-color-default">₹3000/-</span>
            </div>
          </div>
        </div>
        <!-- /Pricing Item -->
        <!-- Pricing Item -->
        <div class="col-md-3 col-xs-6 col-2xs-12">
          <div style="border-radius: 10px" class="pricing-v9 hover-effect">
            <div class="pricing-v9-head">
              <h3 class="h3">
                <span class="g-color-default">UNITY</span> Happy Heart
              </h3>
            </div>
            <ul style="list-style-type: none">
              <li>Lipid Profile</li>
              <li>ECG</li>
              <li>Chest X-RAY</li>
              <li>FBS</li>
              <li>Basic Wellness Included</li>
              <li>&nbsp;</li>
            </ul>
            <div class="pricing-v9-price">
              For <span class="g-color-default">₹4500/-</span>
            </div>
          </div>
        </div>
        <!-- /Pricing Item -->
        <!-- Pricing Item -->
        <div class="col-md-3 col-xs-6 col-2xs-12">
          <div style="border-radius: 10px" class="pricing-v9 hover-effect">
            <div class="pricing-v9-head">
              <h3 class="h3">
                <span class="g-color-default">UNITY</span> Platinum Wellness
              </h3>
            </div>
            <ul style="list-style-type: none">
              <li>Basic Wellness Plan</li>
              <li>Lung Function Tests</li>
              <li>USG Abdomen</li>
              <li>Thyroid All Tests</li>
              <li>Lung Efficiency Tests</li>
            </ul>
            <div class="pricing-v9-price">
              For <span class="g-color-default">₹8000/-</span>
            </div>
          </div>
        </div>
        <!-- /Pricing Item -->
      </div>
    </div>
  </div>
</section>
<!-- End PLANS -->
<hr />

<%- include('partials/footer')%>
