<%- include('partials/head')%>
<%- include('partials/navbar')%>

<h1 class="text-center" style="margin:2em">Predict your Disease here with the help of our powerful ML model</h1>
<div class="container">
  <iframe src="https://medi-matchd.onrender.com/" style="width: 100%; height: 700px;"  frameborder="0">
  </iframe>
</div>


<%- include('partials/footer')%>