body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f8f8;
}

h1 {
  text-align: center;
  font-size: 2rem;
  margin-top: 50px;
}

form {
  max-width: 500px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin-top: 30px;
}

label {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
select,
input[type="url"] {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

select option {
  font-size: 1rem;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

/* Custom styles */

form {
  background-color: #f8f8f8;
}

h1 {
  color: #0e4b5d;
  font-weight: bold;
  text-shadow: 2px 2px #ccc;
}

label {
  color: #0c5f79;
  font-size: 1.4rem;
  margin-bottom: 10px;
}

input[type="text"],
select,
input[type="url"] {
  font-size: 1.2rem;
  border-color: #0e4b5d;
}

button[type="submit"] {
  background-color: #0e4b5d;
  font-size: 1.4rem;
  transition: background-color 0.3s, color 0.3s;
}

button[type="submit"]:hover {
  background-color: #fff;
  color: #0e4b5d;
  border: 1px solid #0e4b5d;
}