.nav-link{
  color:#9FC02C !important;
  padding-left: 1.5em !important;
  padding-right: 1.5em !important;
  transition: color 0.5s ease-in-out;
  font-size: 15px !important;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.nav-link:hover{
  color: #15a04d !important;
}
.brand-title{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.medi-match-icon{
  position: fixed; 
  top: 0;
}

@media(max-width:480px){
  .brand-title{
    font-size:0.9em;
  }
}