<%- include('partials/head')%>

<%- include('partials/navbar')%>

<h1>Make a new doctor</h1>
    <form action="/" method="post">
        <section>
            <label for="username">Enter Username:</label>
            <input type="text" id="username" placeholder="username" name="name">
        </section>
        <section>
        <label for="degree">Enter Degree:</label>
            <input type="text" id="degree" placeholder="Degree" name="degree">
        </section>
        <section>
            <label for="department">Enter Department : </label>
            <input type="text" id="department" placeholder="Department" name="department">
        </section>
        <section>
            <label for="img">Enter img url:</label>
            <input type="text" id="img" placeholder="IMG-url" name="image">
        </section>
        <button>Submit</button>
    </form>
    
    <a href="/">Back to Index</a>
<%- include('partials/footer')%>