<%- include('../partials/head')%> <%- include('../partials/navbar')%>

<!-- importing resources -->
<link rel="stylesheet" href="/assets/css/appointmentStyle.css" />

<!-- Start main -->
<div class="container">
<div class="containerAppointment">
    <span class="big-circle"></span>
    <img src="/assets/img/appointment/shape.png" class="square" alt="" />
    <div class="form">
        <div class="contact-form">
            <span class="circle one"></span>
            <span class="circle two"></span>
            <form 
                action="/doctors" 
                method="POST" 
                style="max-width: 600px; margin: auto"
                class="mb-3 validated-form" 
                data-aos="zoom-in"
                novalidate 
            >
                <h3 class="title">Add Doctor</h3>
                <div class="input-container">
                    <input class="input" type="text" id="name" name="doctor[name]" required />
                    <label for="">Doctor's Name</label>
                    <span>Doctor's Name</span>
                </div>
                <div class="input-container">
                    <label for="degree">Degree</label>
                    <input class="input" type="text" id="degree" name="doctor[degree]" required />
                    <span>Degree</span>
                </div>
                <div class="input-container">
                    <select class="input" id="department" name="doctor[department]" required>
                        <option value="">Select Department</option>
                        <option value="Cardiology" style="color:#15A084;">Cardiology</option>
                        <option value="Dermatology" style="color:#15A084;">Dermatology</option>
                        <option value="Gastroenterology" style="color:#15A084;">Gastroenterology</option>
                        <option value="Neurology" style="color:#15A084;">Neurology</option>
                        <option value="Oncology" style="color:#15A084;">Oncology</option>
                        <option value="Orthopedics" style="color:#15A084;">Orthopedics</option>
                        <option value="Pediatrics" style="color:#15A084;">Pediatrics</option>
                        <option value="Psychiatry" style="color:#15A084;">Psychiatry</option>
                        <option value="Urology" style="color:#15A084;">Urology</option>
                    </select>
                </div>
                <div class="input-container" class="mb-3">
                    <input class="input" type="url" id="image" name="doctor[image]" required />
                    <label for="image">Doctor Image URL</label>
                    <span>Doctor Image URL</span>
                </div>
                <button class="btn btn-success"  style="width:100%;" type="submit">
                    +Add Doctor
                </button>
            </form>
        </div>
        <div class="contact-info" data-aos="fade-left">
            <h3 class="title">Warning !</h3>
            <div class="info">
                <p>You are admin and you are authorized to add a doctor, Fill details carefully!</p>
                <p>Filling inconsistent or misleading details may lead to serious consequences.</p>
            </div>
        </div>
    </div>
</div>
</div>
        
<script src="/assets/js/appointmentScript.js"></script>
<script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>

<%- include("../partials/footer") %>