<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MediMatch</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/assets/authAssets/style.css" />
  </head>
  <body>
    <nav
      class="navbar navbar-expand-lg navbar-light bg-light"
      style="
        box-shadow: #74c52b 0px 1px 2px 0px,
          rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
        position: sticky;
      "
    >
      <a
        class="navbar-brand"
        href="/index"
        style="color: #74c52b; letter-spacing: 0.3em"
      >
        <img
          src="/assets/img/smallLogo.png"
          width="60"
          height="60"
          class="d-inline-block align-top img-fluid"
          style="position: fixed; top: 0"
          alt=""
          id="rotateIcon"
        />
        <span style="position: relative; left: 4em"> MEDI-MATCH </span>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav" style="position: relative; left: 4em">
          <li class="nav-item">
            <a class="nav-link" href="/index"
              >HOME <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/doctors">DOCTORS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/gallery">GALLERY</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">ABOUT US</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">SIGN UP</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">SIGN IN</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logut">SIGN OUT</a>
          </li>
        </ul>
      </div>
    </nav>
    <script>
      const icon = document.querySelector("#rotateIcon");
      window.addEventListener("scroll", function () {
        icon.style.transform = "rotate(" + window.pageYOffset + "deg)";
      });
    </script>
    <div class="container my-3"><%- include('../partials/flash') %></div>
    <main>
      <div class="box">
        <div class="inner-box">
          <div class="forms-wrap">
            <form
              action="/register"
              autocomplete="off"
              class="sign-up-form"
              method="POST"
            >
              <div class="logo">
                <img src="/assets/img/smallLogo.png" alt="MediMatch" />
                <h4>MediMatch</h4>
              </div>

              <div class="heading">
                <h2>Get Started</h2>
                <h6>Already have an account?</h6>
                <a href="#" class="toggle">Sign in</a>
              </div>

              <div class="actual-form">
                <div class="input-wrap">
                  <input
                    type="text"
                    minlength="4"
                    class="input-field"
                    autocomplete="off"
                    name="username"
                    required
                  />
                  <label>Username</label>
                </div>

                <div class="input-wrap">
                  <input
                    type="email"
                    class="input-field"
                    autocomplete="off"
                    name="email"
                    required
                  />
                  <label>Email</label>
                </div>

                <div class="input-wrap">
                  <input
                    type="password"
                    minlength="4"
                    class="input-field"
                    autocomplete="off"
                    name="password"
                    required
                  />
                  <label>Password</label>
                </div>

                <input type="submit" value="Sign Up" class="sign-btn" />

                <p class="text">
                  By signing up, I agree to the
                  <a href="#">Terms of Services</a> and
                  <a href="#">Privacy Policy</a>
                </p>
              </div>
            </form>

            <form
              action="/login"
              autocomplete="off"
              class="sign-in-form"
              method="POST"
            >
              <div class="logo">
                <img src="/assets/img/smallLogo.png" alt="MediMatch" />
                <h4>MediMatch</h4>
              </div>

              <div class="heading">
                <h2>Welcome Back</h2>
                <h6>Not registred yet?</h6>
                <a href="#" class="toggle">Sign up</a>
              </div>

              <div class="actual-form">
                <div class="input-wrap">
                  <input
                    type="text"
                    minlength="4"
                    class="input-field"
                    autocomplete="off"
                    name="username"
                    required
                  />
                  <label>Username</label>
                </div>

                <div class="input-wrap">
                  <input
                    type="password"
                    minlength="4"
                    class="input-field"
                    autocomplete="off"
                    name="password"
                    required
                  />
                  <label>Password</label>
                </div>

                <input type="submit" value="Sign In" class="sign-btn" />

                <p class="text">
                  Forgotten your password or you login datails?
                  <a href="#">Get help</a> signing in
                </p>
              </div>
            </form>
          </div>

          <div class="carousel">
            <div class="images-wrapper">
              <img
                src="/assets/authAssets/img/image1.png"
                class="image img-1 show"
                alt=""
              />
              <img
                src="/assets/authAssets/img/image2.png"
                class="image img-2"
                alt=""
              />
              <img
                src="/assets/authAssets/img/image3.png"
                class="image img-3"
                alt=""
              />
            </div>

            <div class="text-slider">
              <!-- <div class="text-wrap">
                <div class="text-group">
                  <h2>Create your own courses</h2>
                  <h2>Customize as you like</h2>
                  <h2>Invite students to your class</h2>
                </div>
              </div> -->

              <div class="bullets">
                <span class="active" data-value="1"></span>
                <span data-value="2"></span>
                <span data-value="3"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- Javascript file -->

    <script src="/assets/authAssets/app.js"></script>
  </body>
</html>
